## workaround to get markdown headers in a velocity template
## courtesy of http://illegalexception.schlichtherle.de/2013/06/17/how-to-use-markdown-syntax-with-the-maven-site-plugin/
#set($h2 = '##')

$h2 Multiple Combinations

  Each ```<combination>``` element within the plugin's configuration is a self contained definition of how the pipeline should 
  be executed.  In other words, the configuration of each combination does not interact with the other combination configurations.  
  The order in which each combination is executed has not been defined.  Do not rely on one combination to be executed before another.
  
```
<plugin>
  <groupId>${project.groupId}</groupId>
  <artifactId>${project.artifactId}</artifactId>
  <version>${project.version}</version>
  <configuration>
    <combinations>
      <combination>
        <id>append-files</id>
        <inputResources>
          <includes>
            <include>src/main/resources/file*.txt</include>
          </includes>
        </inputResources>
        <transformers>
          <transformer>StripNewlines</transformer>
        </transformers>
        <combiner>AppendingCombiner</combiner>
        <outputDestination>combined-files.txt</outputDestination>
        <settings>
          <appendingCombinerNewlines>2</appendingCombinerNewlines>
        </settings>
      </combination>
      <combination>
        <id>append-files-no-strip-newlines</id>
        <inputResources>
          <includes>
            <include>src/main/resources/combo2*.txt</include>
          </includes>
        </inputResources>
        <!-- note that there are no transformers defined which means the transformation stage will not do anything -->
        <combiner>AppendingCombiner</combiner>
        <outputDestination>combo2-combined-files.txt</outputDestination>
      </combination>
    </combinations>
  </configuration>
</plugin>
```
